// partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.about {
    &__container {
        height: 100%;
        background-color: $black;
        text-align: center;
        @include flexbox(column);
        justify-content: space-between;
        padding: 2rem;
    }

    &__quote {
        color: $white;
        font-size: 0.75rem;
        margin-block: 0 1rem;

        &--author{
            margin: 0;
        }
    }

    &__mission {
        padding: 1rem;
    }

    &__history {
        padding: 1rem;
    }

    &__our-way {
        background-color: #D9D9D9;
        padding: 1rem;
    }

    &__our-community {
        padding: 1rem;
    }
}