// partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.about {
    &__container {
        height: 100%;
        background-color: $black;
        text-align: center;
        @include flexbox(column);
        justify-content: space-between;
        padding: 2rem;

        @include desktop {
            padding: 3rem 15rem;
        }
    }

    &__quote {
        color: $white;
        font-size: 0.75rem;
        margin-block: 0 1rem;

        &--author{
            margin: 0;
        }
    }

    &__the-verse-text, &__mission-text, &__history-text, &__our-way-text {
        @include m-text($global-primary-font-color);
    }

    &__the-verse-header, &__mission-header, &__history-header, &__our-way-header {
        @include m-header-md($global-primary-font-color);

        @include tablet {
            @include td-header-md($global-primary-font-color);
        }
    }

    &__mission-subheader, &__history-subheader, &__our-way-subheader {
        @include m-subheader($global-primary-font-color);

        @include tablet {
            @include td-subheader($global-primary-font-color);
        }
    }

    &__the-verse, &__mission {
        padding: 1rem;

        @include tablet {
            padding: 1rem 2.5rem;
        }

        @include desktop {
            padding: 1rem 15rem;
        }

        /* styles the about mission elements container */
        &-elements {
            @include flexbox(column);
            align-items: center;

            @include tablet {
                @include flexbox(row);
            }

            @include desktop {
                @include flexbox(row);
            }
        }
    }

    &__history {
        padding: 1rem;

        @include tablet {
            padding: 1rem 2.5rem;
        }

        @include desktop {
            padding: 1rem 15rem;
        }
    }

    &__our-way {
        background-color: #D9D9D9;
        padding: 1rem;

        @include tablet {
            padding: 4rem;
        }

        @include desktop {
            padding: 3rem 15rem;
        }

        &-text {
            &--small {
                font-size: 0.7rem;
            }
        }
    }

    &__our-community {
        padding: 1rem;
    }
}

/* styling for mission element cards */
.mission-element {
    &__list {
        width: 70%;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include tablet {
            width: 100%;
            @include flexbox(row);
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
        }

        @include desktop {
            width: 100%;
            @include flexbox(row);
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    &__image {
        max-width: 100%;
        width: 13rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 5%;

        @include desktop {
            width: 9rem;
            height: 10rem;
        }
    }

    &__label {
        @include m-label($global-primary-font-color);

        @include tablet {
            @include td-label($global-primary-font-color);
        }
    }
}