@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.karma {
    padding: 2rem;

    @include tablet {
        padding: 1rem 6rem;
    }
    
    @include desktop {
        padding: 1rem 10rem;
    }
}