@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.terms {
    padding: 1rem;

    @include tablet {
        padding: 1rem 6rem;
    }

    @include desktop {
        padding: 1rem 10rem;
    }

    &__subheader {
        margin-bottom: 0;
        @include header-md($global-primary-font-color);

        &--small {
            margin-bottom: 0;
            @include subheader-primary($global-primary-font-color);
        }
    }

    &__last-update {
        font-size: 0.75rem;
        font-style: italic;
        margin-top: 0;
    }

    &__text {
        @include text($global-primary-font-color);

        &--bold {
            font-weight: 500;
            @include text($global-primary-font-color);
        }
    }

    &__link {
        margin: 0;
        @include text($global-link-font-color);

        &:hover {
            color: $global-link-hover-color;
            transition: 0.5s ease-in-out;
        }
    }
}