@font-face {
    font-family: "Nanum Pen";
    src: url("/assets/fonts/nanum-pen-regular.woff2") format("woff2"),
        url("nanum-pen-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Commons Pro";
    src: url("/assets/fonts/tt-commons-pro-italic.woff2") format("woff2"),
        url("/assets/fonts/tt-commons-pro-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TT Commons Pro";
    src: url("/assets/fonts/tt-commons-pro-bold-italic.woff2") format("woff2"),
        url("/assets/fonts/tt-commons-pro-bold-italic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "TT Commons Pro";
    src: url("/assets/fonts/tt-commons-pro-bold.woff2") format("woff2"),
        url("/assets/fonts/tt-commons-pro-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Commons Pro";
    src: url("/assets/fonts/tt-commons-pro-regular.woff2") format("woff2"),
        url("/assets/fonts/tt-commons-pro-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-bold-italic.woff2") format("woff2"),
        url("/assets/fonts/poppins-bold-italic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-bold.woff2") format("woff2"),
        url("/assets/fonts/poppins-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-italic.woff2") format("woff2"),
        url("/assets/fonts/poppins-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/assets/fonts/poppins-regular.woff2") format("woff2"),
        url("/assets/fonts/poppins-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}