@use "./fonts.scss" as *;
@use "./variables.scss" as *;

/* ----- BREAKPOINTS ----- */

/* mobile breakpoint */
@mixin mobile {
    @media (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

/* tablet breakpoint */
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

/* desktop breakpoint */
@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

/* ----- TEXT STYLES ----- */

/* mobile text styles */
@mixin m-hero-header($color) {
    font-family: "Nanum Pen", sans-serif;
    color: $color;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.5rem;
}

@mixin m-header-nanum($color) {
    font-family: "Nanum Pen", sans-serif;
    color: $color;
    font-size: 1.5rem;
    text-transform: uppercase;
}

@mixin m-header-sm($color) {
    color: $color;
    font-size: 0.90rem;
}

@mixin m-subheader($color) {
    font-family: "Nanum Pen", sans-serif;
    color: $color;
    font-size: 1.5rem;
}

@mixin m-text($color) {
    color: $color;
    font-size: 1rem;
}

@mixin m-text-xs($color) {
    color: $color;
    font-size: 0.7rem;
}

@mixin m-link() {
    font-size: 0.85rem;
}


/* ----- MISC ----- */

/* flexbox */
@mixin flexbox($direction) {
    display: flex;
    flex-direction: $direction;
}

/* button */
@mixin button($background-color, $border-color) {
    background-color: $background-color;
    font-size: 0.90rem;
    font-weight: bold;
    text-transform: uppercase;
    border: .0625rem solid $border-color;
    border-radius: 1.5625rem;
    padding: 0.5rem 1.25rem;
}