@use "./fonts.scss" as *;
@use "./variables.scss" as *;

/* ----- BREAKPOINTS ----- */

/* mobile breakpoint */
@mixin mobile {
    @media (min-width: 320px) and (max-width: 767px) {
        @content;
    }
}

/* tablet breakpoint */
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

/* desktop breakpoint */
@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

/* ----- TEXT STYLES ----- */

/* mobile text styles */
@mixin m-hero-header($color) {
    color: $color;
    font-size: 1.3rem;
    line-height: 1.75rem;
}

@mixin m-header-md($color) {
    color: $color;
    font-size: 1.2rem;
    font-weight: 600;
}

@mixin m-header-sm($color) {
    color: $color;
    font-size: 0.90rem;
}

@mixin m-subheader($color) {
    font-family: "Nanum Pen", sans-serif;
    color: $color;
    font-size: 1.35rem;
    text-transform: uppercase;
    line-height: 1.15rem;
}

@mixin m-subheader-secondary($color) {
    font-family: "Poppins", sans-serif;
    color: $color;
    font-size: 1.25rem;
}

@mixin m-text($color) {
    color: $color;
    font-size: 0.85rem;

    @include tablet {
        font-size: 1rem;
    }
}

@mixin m-text-xs($color) {
    color: $color;
    font-size: 0.7rem;
}

@mixin m-link() {
    font-size: 0.85rem;
}

@mixin m-label($color) {
    font-family: "Nanum Pen", sans-serif;
    color: $color;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;

    @include tablet {
        font-size: 1.5rem;
    }
}

/* tablet and desktop text styles */
@mixin td-header-md($color) {
    color: $color;
    font-size: 1.5rem;
    font-weight: 600;
}

@mixin td-subheader($color) {
    font-family: "Nanum Pen", sans-serif;
    color: $color;
    font-size: 1.6rem;
}

@mixin td-text($color) {
    color: $color;
    font-size: 1rem;
}

@mixin td-label($color) {
    font-family: "Nanum Pen", sans-serif;
    color: $color;
    font-size: 1.35rem;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

/* ----- MISC ----- */

/* flexbox */
@mixin flexbox($direction) {
    display: flex;
    flex-direction: $direction;
}

/* button */
@mixin button($background-color, $border-color) {
    background-color: $background-color;
    color: $global-secondary-font-color;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border: .0625rem solid $border-color;
    border-radius: 1.5625rem;
    padding: 0.5rem 1.25rem;

    @include tablet {
        @include td-text($global-secondary-font-color);
    }
}