// partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.footer {
    background-color: $footer-background;
    color: $footer-primary-font-color;
    padding: 1rem;

    @include tablet {
        padding: 2.5rem;
    }

    @include desktop {
        padding: 2.5rem 10rem;
    }

    &__wrapper {
        @include flexbox(column);
        align-items: center;
        gap: 1rem;
    }

    &__contact {
        text-align: center;

        @include tablet {
            @include flexbox(row);
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }

        @include desktop {
            @include flexbox(row);
            justify-content: space-between;
            align-items: center;
            text-align: left;
        }

        &-wrapper {
            @include tablet {
                width: 40%;
            }
        }
    }

    &__subheader {
        @include m-subheader(white);
        font-weight: 400;
        margin: 0;
    }

    &__text {
        @include m-text(white);

        @include tablet {
            font-size: 0.80rem;
        }

        @include desktop {
            font-size: 0.85rem;
        }
    }

    &__nav {
        @include flexbox(column);
        gap: 0.5rem;

        @include tablet {
            @include flexbox(row);
        }

        @include desktop {
            @include flexbox(row);
        }
    }

    &__social {
        @include flexbox(row);
        gap: 1rem;

        &-icon {
            width: 35px;
            height: 35px;
        }
    }

    &__copyright {
        @include m-text-xs($footer-secondary-font-color);
    }
}

.contact-form {
    @include flexbox(row);
    justify-content: space-between;
    align-items: center;

    @include tablet {
        gap: 1rem;
    }

    @include desktop {
        gap: 0.5rem;
    }

    &__button {
        @include button($button-primary-background, $button-primary-border);

        @include tablet {
            font-size: 0.8rem;
        }

        @include desktop {
            font-size: 1rem;
        }
    }
}

.nav {
    &__the-verse, &__information, &__resources, &__support {
        width: 100%;
        @include flexbox(column);
        align-items: center;

        @include tablet {
            align-items: flex-start;
        }

        @include desktop {
            align-items: flex-start;
        }
    }

    &__header {
        @include m-header-sm($footer-header-color);
        margin-bottom: 0.5rem;

        @include tablet {
            font-size: 0.85rem;
        }

        @include desktop {
            font-size: 1rem;
        }
    }

    &__list {
        @include flexbox(column);
        align-items: center;
        gap: 0.5rem;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include tablet {
            align-items: flex-start;
        }

        @include desktop {
            align-items: flex-start;
        }
    }

    &__link {
        @include m-link;

        @include tablet {
            font-size: 0.80rem;
        }

        @include desktop {
            font-size: 0.85rem;
        }
    }
}

.footer__contact {
    border-bottom: 1px solid $footer-divider-color;
}