// partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.experiences {
    padding: 1rem;

    @include tablet {
        padding: 1rem 2.5rem;
    }

    @include desktop {
        padding: 1rem 10rem;
    }
}

.experience {
    &__cards {
        max-width: 100%;
    }

    &__card {
        &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;

            @include tablet {
                width: auto;
                @include flexbox(row);
                flex-wrap: wrap;
                gap: 1.5rem;
            }

            @include desktop {
                width: auto;
                @include flexbox(row);
                flex-wrap: wrap;
                gap: 2rem;
            }
        }

        &-item {
            height: auto;
            @include flexbox(column);
            justify-content: space-between;
            
            @include tablet {
                width: 48.2%;
            }

            @include desktop { 
                width: 47.9%;
            }
        }
    }

    &__header {
        @include header-md($global-primary-font-color);

        @include tablet {
            @include header-md($global-primary-font-color);
        }
    }

    &__video {
        width: 100%;
    }

    &__image {
        width: 100%;
    }

    &__description {
        @include text($global-primary-font-color);

        @include tablet {
            @include text($global-primary-font-color);
        }
    }

    &__link {
        text-decoration: none;
    }

    &__button {
            @include button($button-primary-background, $button-primary-background);

        &:hover {
            background-color: $blue;
            border: .0625rem solid $blue;
            transition: 0.5s ease-in-out;
        }
    }
}