// partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.experiences {
    padding: 1rem;

    @include tablet {
        padding: 1rem 2.5rem;
    }

    @include desktop {
        padding: 1rem 10rem;
    }
}

.experience {
    &__cards {
        max-width: 100%;
    }

    &__card {
        &-list {
            list-style-type: none;
            margin: 0;
            padding: 0;

            @include tablet {
                width: auto;
                @include flexbox(row);
                flex-wrap: wrap;
                gap: 1.5rem;
            }

            @include desktop {
                width: auto;
                @include flexbox(row);
                flex-wrap: wrap;
                gap: 2rem;
            }
        }

        &-item {
            @include tablet {
                width: 48.2%;
            }

            @include desktop { 
                width: 47.9%;
            }
        }
    }

    &__header {
        @include m-header-md($global-primary-font-color);

        @include tablet {
            @include td-header-md($global-primary-font-color);
        }
    }

    &__video {
        width: 100%;
    }

    &__description {
        @include m-text($global-primary-font-color);

        @include tablet {
            @include td-text($global-primary-font-color);
        }
    }

    &__button {
        @include button($button-primary-background, $button-primary-background);
    }
}