// partials
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.navbar {
    height: 4rem;
    @include flexbox(row);
    align-items: center;
    // justify-content: space-between;
    gap: 1rem;
    background-color: $navbar-background;
    padding: 1rem;

    @include tablet {
        height: 4rem;
        @include flexbox(row);
        align-items: center;
        gap: 1.5rem;
        padding: 1rem 2rem;
    }

    @include desktop {
        height: 4rem;
        @include flexbox(row);
        align-items: center;
        gap: 2rem;
        padding: 1rem 2rem;
    }

    &__logo {
        width: auto;
        height: 100%;

        @include tablet {
            max-width: 100%;
        }

        @include desktop {
            max-width: 100%;
        }
    }

    &__container {
        width: 100%;

        @include tablet {
            // @include flexbox(row);
            // gap: 1rem;
        }

        @include desktop {
            @include flexbox(row);
        }

        &--left {
            width: auto;
            height: 50%;
            @include flexbox(row);
            justify-content: center;

            @include tablet {
                width: auto;
                height: 55%;
            }

            @include desktop {
                width: auto;
                height: 55%;
            }
        }

        &--right {
            @include flexbox(row);
            justify-content: flex-end;

            @include tablet {
                justify-content: space-between;
            }

            @include desktop {
                justify-content: space-between;
            }
        }
    }

    &__list {
        display: none;

        @include tablet {
            @include flexbox(row);
            align-items: center;
            gap: 1.25rem;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        @include desktop {
            @include flexbox(row);
            align-items: center;
            gap: 1.25rem;
            list-style-type: none;
            margin: 0;
            padding:0;
        }
    }

    &__link {
        @include tablet {
            font-size: 0.8rem;
        }

        @include desktop {
            font-size: 0.9rem;
        }
    }

    &__button {
        background-color: $green;
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 1.25rem;
        padding: 0.5rem 1rem;
        visibility: hidden;

        @include tablet {
            visibility: visible;
            font-size: 0.75rem;
            order: 2;
        }

        @include desktop {
            visibility: visible;
            font-size: 0.85rem;
            order: 2;
        }
    }
}

a {
    color: $navbar-link-color;
    text-decoration: none;
}