@use "./partials/fonts.scss" as *;
@use "./partials//variables.scss" as *;

html, body {
    font-family: "Poppins", sans-serif;
    color: $global-primary-font-color;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}