@use "./partials/fonts.scss" as *;
@use "./partials//variables.scss" as *;

html, body {
    font-family: "Poppins", sans-serif;
    color: $global-primary-font-color;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1280px;
    margin: 0 auto;
}

.full-width-bg-wrapper {
    width: 100vw;
    margin-left: calc(50% - 50vw);

    &--black {
        background: $black; 
    }

    &--grey {
        background: $grey-light;
    }

    &--blue {
        background: $blue;
    }
}